*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background: #F6F6F6;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  max-width: 1200px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background: #fff;
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__logo {
  height: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu--starter, .menu--dish, .menu--dessert {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.menu__title {
  width: 100%;
  margin-top: 25px;
  height: fit-content;
  text-transform: uppercase;
}
.menu__title::after {
  content: "";
  background: #99E2D0;
  display: block;
  height: 3px;
  width: 40px;
  margin-top: 5px;
}

.menu__card {
  background: #fff;
  width: 100%;
  cursor: pointer;
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
}
.menu__card__add {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0;
  padding: 0 18px;
  height: 100%;
}
.menu__card__add i {
  font-size: 20px;
  color: white;
  animation: rotate360 0.5s both;
}
.menu__card:hover {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.menu__card:hover .menu__card__heading {
  padding-right: 56px;
  transition: 0.5s ease;
}
.menu__card:hover .menu__card__add {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slider 0.5s ease;
  transform-origin: right;
}

.menu__card__heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__card__heading__name {
  overflow: hidden;
  white-space: nowrap;
}
.menu__card__heading__name h3 {
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card__heading__name h4 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
}
.menu__card__heading__price {
  font-weight: 700;
  align-self: flex-end;
}

@keyframes slider {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes elementAppear {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card1 {
  opacity: 0;
  animation: elementAppear 0.3s both;
  animation-delay: 0.2s;
}

.card2 {
  opacity: 0;
  animation: elementAppear 0.3s both;
  animation-delay: 0.4s;
}

.card3 {
  opacity: 0;
  animation: elementAppear 0.3s both;
  animation-delay: 0.6s;
}

.card4 {
  opacity: 0;
  animation: elementAppear 0.3s both;
  animation-delay: 0.8s;
}

.card5 {
  opacity: 0;
  animation: elementAppear 0.3s both;
  animation-delay: 1s;
}

.card6 {
  opacity: 0;
  animation: elementAppear 0.3s both;
  animation-delay: 1.2s;
}

.card7 {
  opacity: 0;
  animation: elementAppear 0.3s both;
  animation-delay: 1.4s;
}

.card8 {
  opacity: 0;
  animation: elementAppear 0.3s both;
  animation-delay: 1.6s;
}

.card9 {
  opacity: 0;
  animation: elementAppear 0.3s both;
  animation-delay: 1.8s;
}

.card10 {
  opacity: 0;
  animation: elementAppear 0.3s both;
  animation-delay: 2s;
}

@media only screen and (min-width: 1200px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .menu--starter, .menu--dish, .menu--dessert {
    width: 32%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}
.footer {
  background: #353535;
  width: 100%;
  color: #fff;
  padding: 20px;
}
.footer a:hover {
  color: #ccc;
}
.footer__heading {
  font-family: "Shrikhand", serif;
  font-size: 1.25rem;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  position: relative;
}
.footer__list li {
  padding-bottom: 8px;
}
.footer__list .list-icon {
  padding-left: 25px;
}
.footer__list .list-icon i {
  position: absolute;
  left: 0;
}

.main-page {
  width: 100%;
}
.main-page__image {
  position: relative;
}
.main-page__image .cards-section-heading {
  height: 60px;
  padding: 40px 20px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #F6F6F6;
  display: flex;
  justify-content: space-between;
}
.main-page__image .cards-section-heading h1 {
  font-family: "Shrikhand", serif;
  font-size: 26px;
}
.main-page__image .cards-section-heading i {
  padding-right: 20px;
}
.main-page__image img {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
}

.cards-section {
  width: 100%;
  background: #F6F6F6;
  padding: 20px;
}

.header__return {
  font-size: 25px;
  position: absolute;
  left: 25px;
  color: #353535;
}

.sub-header {
  background: #EAEAEA;
  color: #353535;
  position: relative;
}
.sub-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  top: 0;
  left: 0;
  box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.3) inset;
}
.sub-header__text {
  margin: 0;
  padding: 1.06rem 0;
  text-align: center;
  font-weight: 700;
  color: inherit;
}
.sub-header__text i {
  margin-right: 10px;
}
.sub-header__text address {
  display: inline-block;
  font-style: normal;
}

.cta {
  background: #F6F6F6;
  padding: 50px 25px;
  text-align: center;
}
.cta__heading {
  font-size: 1.65rem;
  font-weight: bold;
  padding-bottom: 20px;
}
.cta__details {
  font-size: 1.125rem;
  font-weight: 300;
  padding-bottom: 30px;
}
.cta__button {
  display: block;
  width: 70%;
  max-width: 250px;
  margin: 0 auto;
  font-weight: 500;
  color: #fff;
  padding: 16px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 28px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.25s;
  text-align: center;
}
.cta__button--sm {
  width: fit-content;
  padding: 16px 50px;
  margin: 50px auto 75px auto;
}
.cta__button:hover {
  background: linear-gradient(#ff9de4, #a674e2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 1200px) {
  .cta__button--sm {
    margin-top: 0;
  }

  .margintop {
    margin-top: 50px;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.infos {
  padding: 52px 20px 68px 20px;
  counter-reset: infosList;
  background: #fff;
}
.infos__heading {
  font-size: 1.375rem;
  font-weight: 700;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
}
.infos__card {
  font-size: 1.125rem;
  width: 100%;
  background: #F6F6F6;
  padding: 30px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  position: relative;
}
.infos__card::before {
  counter-increment: infosList;
  content: counter(infosList) "";
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
.infos__card h3 {
  font-weight: bold;
  margin: auto;
}
.infos__card .card-icon {
  color: #7E7E7E;
}
.infos__card--active, .infos__card:hover {
  background: #f2eafb;
}
.infos__card--active .card-icon, .infos__card:hover .card-icon {
  color: #9356DC;
}
@media only screen and (min-width: 700px) {
  .infos__card {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main {
  padding: 60px 20px;
}

.menu-list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 5fr 5fr 5fr 5fr;
  grid-gap: 15px;
}
.menu-list__heading {
  font-size: 1.375rem;
  font-weight: 700;
}

.list-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  position: relative;
}
.list-card:hover {
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
}
.list-card:hover > .list-card__image {
  filter: grayscale(100%);
}
.list-card__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.list-card__heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.list-card__heading h3 {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 5px;
}
.list-card__heading__like {
  font-size: 26px;
}
.list-card__heading__like i {
  transition: -webkit-text-fill-color 0.25s;
}
.list-card__heading__like i:hover {
  font-weight: 700;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 850px) {
  .menu-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr;
  }
  .menu-list__heading {
    grid-column: span 2;
  }
}
.new {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  background: #99E2D0;
  color: #32b091;
}

/*# sourceMappingURL=style.css.map */
