.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.infos {
    padding: 52px 20px 68px 20px;
    counter-reset: infosList;
    background: $back-primary;

    &__heading {
        @include titreh2;
        padding-bottom: 30px;
        width: 100%;
        margin: 0 auto;
    }

    &__card {
        font-size: 1.125rem;
        width: 100%;
        background: $back-secondary;
        padding: 30px;
        display: flex;
        align-items: center;
        border-radius: 30px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
        position: relative;

        &::before {
            counter-increment: infosList;
            content: counter(infosList) '';
            position: absolute;
            left: -12px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $color-primary;
            text-align: center;
            color: #fff;
            font-size: 16px;
            line-height: 24px;
        }

        h3 {
            font-weight: bold;
            margin: auto;
        }

        .card-icon {
            color: #7E7E7E;

        }

        &--active,
        &:hover {
            background: lighten($color-primary, 35%);

            .card-icon {
                color: $color-primary;
            }
        }

        @media only screen and (min-width:700px) {
            max-width: 330px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}