.footer {
    background: $back-footer;
    width: 100%;
    color: #fff;
    padding: 20px;

    a:hover {
        color: #ccc;
    }

    &__heading {
        font-family: 'Shrikhand', serif;
        font-size: 1.25rem;
    }

    &__list {
        list-style-type: none;
        padding: 0;
        position: relative;

        li {
            padding-bottom: 8px;
        }

        .list-icon {
            padding-left: 25px;

            i {
                position: absolute;
                left: 0;
            }
        }
    }
}