.menu {
    display: flex;
    flex-direction: column;

    &--starter,
    &--dish,
    &--dessert {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

.menu__title {
    width: 100%;
    margin-top: 25px;
    height: fit-content;

    text-transform: uppercase;

    &::after {
        content: '';
        background: $color-tertiary;
        display: block;
        height: 3px;
        width: 40px;
        margin-top: 5px;
    }
}

.menu__card {
    background: #fff;
    width: 100%;
    cursor: pointer;

    padding: 15px;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);

    &__add {
        display: none;
        position: absolute;
        background: $color-tertiary;
        border-radius: 0 15px 15px 0;
        right: 0;
        padding: 0 18px;
        height: 100%;

        i {
            font-size: 20px;
            color: white;
            animation: rotate360 0.5s both;
        }
    }

    &:hover {
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    }

    &:hover .menu__card__heading {
        padding-right: 56px;
        transition: 0.5s ease;
    }

    &:hover .menu__card__add {
        display: flex;
        justify-content: center;
        align-items: center;

        animation: slider 0.5s ease;
        transform-origin: right;
    }
}

.menu__card__heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    &__name {
        overflow: hidden;
        white-space: nowrap;

        h3 {
            font-size: 18px;
            font-weight: 700;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        h4 {
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            font-weight: 400;
        }
    }

    &__price {
        font-weight: 700;
        align-self: flex-end;
    }
}

@keyframes slider {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(100%);
    }
}

@keyframes elementAppear {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
}
100% {
        transform: rotate(360deg);
    }
}

@for $i from 1 through 10 {
    .card#{$i} {
        opacity: 0;
        animation: elementAppear .3s both;
        animation-delay: calc($i * 0.2s);
    }
}

@media only screen and (min-width:1200px) {
    .menu {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        &--starter,
        &--dish,
        &--dessert {
            width: 32%;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        }
    }
}